@{
    ViewBag.Title = "订单提交";
    var model = (Himall.DTO.MobileOrderDetailConfirmModel)ViewBag.ConfirmModel;
    var products = model.products;
    //var products = (IEnumerable<Himall.DTO.MobileShopCartItemModel>)ViewBag.ConfirmModel.products;
}

<link rel="stylesheet" href="/Areas/Mobile/Templates/Default/Content/bootstrap-switch.css">
<link href="~/Areas/Mobile/Templates/Default/Content/shopbranchs.css" rel="stylesheet" />
<script src="~/Areas/Mobile/Templates/Default/Scripts/bootstrap-switch.min.js"></script>
<input id="icod" type="hidden" value="@ViewBag.IsCashOnDelivery.ToString()" />
<input id="total" type="hidden" value="@ViewBag.ConfirmModel.orderAmount.ToString( "F2" )" />
<input id="ProvideInvoice" type="hidden" value="@ViewBag.ProvideInvoice.ToString()" />

<div class="container submit-cart store-submit">
    @{
        var defaultAddress = ViewBag.address as Himall.Model.ShippingAddressInfo;
        Himall.Model.ShopBranchInfo shopBranchInfo = ViewBag.ConfirmModel.shopBranchInfo;
    }
    @if (defaultAddress != null)
    {
        var addDetail = defaultAddress.AddressDetail ?? "";
        <a class="street-well" id="choiceAddr" href="/@(ViewBag.AreaName)/BranchOrder/ChooseShippingAddress?isOrder=1&addId=@defaultAddress.Id&shopBranchId=@shopBranchInfo.Id&returnUrl=@HttpUtility.UrlEncode(Request.RawUrl)">
            <p>@defaultAddress.ShipTo, @defaultAddress.Phone</p>
            <span>@defaultAddress.RegionFullName &nbsp; &nbsp;@defaultAddress.Address&nbsp;@addDetail</span>
            <i class="glyphicon glyphicon-menu-right"></i>
        </a>
    }
    else
    {
        <a class="street-well" id="choiceAddr" href="/@(ViewBag.AreaName)/BranchOrder/ChooseShippingAddress?isorder=1&shopBranchId=@shopBranchInfo.Id&returnUrl=@HttpUtility.UrlEncode(Request.RawUrl)">
            <p>请选择收货地址</p>
            <span style="color:red;padding: 0;">您没有收货地址或已有地址不在服务服务内</span>
        </a>
    }


    <div class="item mb11">
        <div class="detail-anchor divider">
            <span>配送方式</span>
            @if (shopBranchInfo.IsAboveSelf)
            {
                <label class="divider-btn @(shopBranchInfo.IsStoreDelive ? "" : "active")" deliverytype="@((int)Himall.CommonModel.Enum.DeliveryType.SelfTake)">到店自提</label>
            }
            @if (shopBranchInfo.IsStoreDelive)
            {
                <label class="divider-btn active" deliverytype="@((int)Himall.CommonModel.Enum.DeliveryType.ShopStore)">门店配送</label>
            }
        </div>
        <div class="addr-detail hide" id="divshopbranchInfo" shopbranchid="@shopBranchInfo.Id">
            <h4>@shopBranchInfo.ShopBranchName, @shopBranchInfo.ContactPhone</h4>
            <p>@(Himall.Application.RegionApplication.GetRegionName(shopBranchInfo.AddressPath)) @shopBranchInfo.AddressDetail </p>
            <h4 class="mt8">营业时间: @shopBranchInfo.StoreOpenStartTime.ToString(@"hh\:mm")-@shopBranchInfo.StoreOpenEndTime.ToString(@"hh\:mm")</h4>
        </div>
    </div>
    @{
        var zyShop = products.Where(p => p.shopId == 1).FirstOrDefault();
        var otherShops = products.Where(p => p.shopId != 1).ToList();
        var shop = products[0];
    }
    <div class="goods-info mb10" id="@shop.shopId" shopid="@shop.shopId" shopbranchid="@shop.ShopBranchId">
        <div class="item">
            <div class="goods-shop">
                <i class="ic_store"></i>
                @shop.ShopBranchName
            </div>
        </div>
        @foreach (var product in shop.CartItemModels)
        {
            <div class="item" pid="@product.id" skuid="@product.skuId" count="@product.count">
                <div class="buy-goods">
                    <img src="@product.imgUrl">
                    <h6><span><a href="/@(ViewBag.AreaName)/Branchproduct/detail/@product.id?shopBranchId=@product.ShopBranchId">@product.name</a></span><em>¥ @product.price.ToString("F2")</em></h6>
                    <h5>
                        <p class="gray">
                            @if (!string.IsNullOrEmpty(product.size))
                            {
                                <label>@product.SizeAlias：@product.size &nbsp;&nbsp;</label>
                            }
                            @if (!string.IsNullOrEmpty(product.color))
                            {
                                <label>@product.ColorAlias：@product.color &nbsp;&nbsp;</label>
                            }
                            @if (!string.IsNullOrEmpty(product.version))
                            {
                                <label>@product.VersionAlias：@product.version</label>
                            }
                            &nbsp;
                        </p>
                        <p class="gray text-right">x @product.count</p>
                    </h5>
                </div>
            </div>
        }
        <div id="payment_m" class="payment_m">
            <span style="font-size: 16px;color: #212121;">支付方式</span>
            <span class="payment-c"><a href="javascript:void(0)">在线支付 </a></span>
        </div>


    </div>


    <div class="bill btnbill h47 @(ViewBag.ProvideInvoice?"":"hide")">
        <span>发票信息</span>
        <i class="glyphicon glyphicon-menu-right"></i>
        <span class="bill-detail">
            <a href="javascript:void(0)">不需要发票</a>
            <input type="hidden" id="invoicecode" />
        </span>
    </div>



    <!--留言字段添加6-12-->
    <div class="item">
        <div class="leave-message h47">
            <label>留言</label>
            <div class="leave-message-inner"><input type="text" class="orderRemarks" id="remark_@shop.shopId" placeholder="选填,可填写您和卖家达成一致的要求"></div>
        </div>
    </div>

    <div class="item bottom-info">
        @if (shop.FullDiscount > 0)
        {
            <div class="detail-anchor">满额优惠<span class="pull-right rtext">-¥@shop.FullDiscount</span></div>
        }
        <div class="detail-anchor">商品金额<span class="pull-right rtext">¥@ViewBag.ConfirmModel.totalAmount.ToString("F2")</span></div>
        @if (shop.OneCoupons != null)
        {
            <div class="detail-anchor">优惠券<span class="pull-right rtext">-¥@shop.OneCoupons.BasePrice</span></div>
            <input type="hidden" data-type="@((int)shop.OneCoupons.BaseType)" name="couponIds" value="@shop.OneCoupons.BaseId" />
        }
        @if (shopBranchInfo.DeliveFee > 0 && shopBranchInfo.FreeMailFee > shop.CartItemModels.Sum(item => item.price * item.count))
        {
            <div class="detail-anchor" id="divDeliveFee" data-fee="@shopBranchInfo.DeliveFee">配送费<span class="pull-right rtext">¥@shopBranchInfo.DeliveFee</span></div>
        }
        @if (shopBranchInfo.FreeMailFee < shop.CartItemModels.Sum(item => item.price * item.count))
        {
            <div class="detail-anchor" id="divDeliveFee" data-fee="0">配送费<span class=" pull-right rtext">满额免运费</span></div>
        }
    </div>

    @if (ViewBag.ConfirmModel.integralPerMoney != null && ViewBag.ConfirmModel.userIntegrals > 0)
    {
        <div class="goods-info mb11">
            <div class="item">
                <div class="detail-anchor">
                    <input type="hidden" id="userIntegrals" value="@ViewBag.ConfirmModel.userIntegrals" />
                    <span class="pull-left score">积分抵扣<label>可用@(ViewBag.ConfirmModel.userIntegrals)积分抵扣<em>￥@(ViewBag.ConfirmModel.integralPerMoney)</em></label></span>
                    <span class="pull-right">
                        <div class="switch switch-mini"><input class="bootstrapSwitch2" type="checkbox" data-size="mini" data-on-text="ON" data-off-text="OFF" /></div>
                    </span>
                </div>
            </div>
        </div>
    }
    @if (ViewBag.ConfirmModel.capitalAmount > 0)
    {
        <div class="goods-info mb11">
            <div class="item">
                <div class="detail-anchor">
                    <input type="hidden" id="userCapitals" value="0" />
                    <span class="pull-left score">余额支付<label>共 ￥@(ViewBag.ConfirmModel.capitalAmount) 预付款可用<em></em></label></span>
                    <span class="pull-right">
                        <div class="switch switch-mini"><input class="bootstrapSwitch1" type="checkbox" data-size="mini" data-on-text="ON" data-off-text="OFF" /></div>
                    </span>
                </div>
            </div>
            <div class="item" id="capitalContainer" style="display:none;height:36px;line-height:36px;">
                <div class="detail-anchor">
                    <span class="pull-left score">使用余额:<input type="text" class="text-center quantity-text" style="height:22px;margin-left:30px;border:none; text-align: left;" onkeyup="(this.v=function(){this.value = this.value.replace(/[^\d.]/g,'').replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');}).call(this);" name="capital" id="capital" value="@ViewBag.ConfirmModel.capitalAmount" /></span>
                    <span class="pull-right score"><em id="capitalPrice"></em></span>
                </div>
            </div>
        </div>
    }
    <div class="bill-Cart">
        <div class="bill-C00">
            <div class="form" id="dvInvoice">
                <div class="top-bill">
                    <h3>发票抬头  <a id="btnAddInvoice" class="addInvoice" href="javascript:;" style="margin-left:50px;color:#2894FF">新增抬头</a></h3>
                    <div id="AllInvoice">
                        @foreach (var item in ViewBag.InvoiceTitle)
                        {
                            <div>
                                <div class="top"><span class="bill-check" aria-hidden="true"></span><i>公司</i></div><div class="rights"><a href="javascript:void(0);" class="ml10 del-tit" style="color:#2894FF" key="@item.Id">删除</a></div>
                                <div style="display:block;">
                                    <div><input type="text" placeholder="公司全称" value="@item.Name" id="invoicename" disabled style="opacity:1" /></div>
                                    <div><input type="text" placeholder="税号" value="@item.Code" id="invoicecode" disabled style="opacity:1" /></div>
                                </div>

                            </div>
                        }
                        <div><div><span class="active bill-check" aria-hidden="true"></span><i>个人</i></div></div>
                    </div>
                </div>
            </div>
            <div class="content-bill">
                <h3>发票内容</h3>
                @foreach (var item in ViewBag.InvoiceContext)
                {
                    <p><span class="bill-check"></span>@item.Name</p>
                }
            </div>
            <a id="bill-submit" class="clearfix">
                确定
            </a>
        </div>
    </div>

    <div class="custom-dialog" id="paymentsChooser"></div>
    <!--支付方式弹框页-->

</div>
<div class="cover" style="display:none;"></div>

<script>
    var isLimitTimeBuy = "@ViewBag.IsLimit";
    var isFightGroup = @(((bool?)ViewBag.IsFightGroup)==true?"true":"false");
    var hasVerifiedPayPwd=false;
</script>
<input type="hidden" id="latAndLng" value="@(defaultAddress != null ? defaultAddress.Latitude+","+defaultAddress.Longitude : "0,0")" />
<input type="hidden" id="shippingAddressId" value="@(defaultAddress != null ? defaultAddress.Id.ToString() : "")" />
<input type="hidden" id="shippingAddressRegionId" value="@(defaultAddress != null ? defaultAddress.RegionId.ToString() : "")" />
<input type="hidden" id="integralPerMoney" value="@(ViewBag.ConfirmModel.integralPerMoney)" />
<input type="hidden" id="capitalAmount" value="@(ViewBag.ConfirmModel.capitalAmount)" />
<input type="hidden" id="collPIds" value="@ViewBag.collpids">
<input type="hidden" id="groupActionId" value="@ViewBag.GroupActionId">
<input type="hidden" id="groupId" value="@ViewBag.GroupId">
<input type="hidden" id="PayCapitalPwd" value="" />

<footer class="clearfix footer-cart">
    <em class="cart-total cart-total-lg">
        总金额<a id="allTotal" data-alltotal="@ViewBag.ConfirmModel.orderAmount.ToString("F2")">¥@ViewBag.ConfirmModel.orderAmount.ToString("F2")</a><em class="price" data-price="@ViewBag.ConfirmModel.orderAmount"></em>
    </em>
    <a id="submit-order" class="cart-pay">提交</a>
</footer>
<script src="~/Areas/Mobile/Templates/Default/Scripts/BranchSubmitOrder.js"></script>
<script type="text/javascript">
    var existShopBranchUrl='@Url.Action("ExistShopBranch")';
    var isintegral = false;
    var iscapital = false;
    var isResetUseCapital=false;
    var choseShopBranch = {};
    $(function () {
        //<!--商品滑动-->
        $(".pro-list .pro-img").each(function () {
            $(this).width($('li', this).length * 72);
        });
        //配送方式
        if($(".divider .active").attr("deliverytype")=="2"){
            $("#choiceAddr").show();
            $("#divshopbranchInfo").addClass("hide");
            $("#divDeliveFee").show();
            var alltotal = parseFloat($("#allTotal").attr("data-alltotal"));
            $("#allTotal").html("¥"+(alltotal).toFixed(2));
        }else{
            $("#choiceAddr").hide();
            $("#divshopbranchInfo").removeClass("hide");
            $("#divDeliveFee").hide();
            var delivefee = parseFloat($("#divDeliveFee").attr("data-fee"));
            var alltotal = parseFloat($("#allTotal").attr("data-alltotal"));
            $("#allTotal").html("¥"+(alltotal-delivefee).toFixed(2));
        }
        $(".divider .divider-btn").each(function(){
            $(this).click(function(){
                if($(this).hasClass("active")){
                    return;
                }
                $(this).siblings(".divider-btn").removeClass("active");
                $(this).addClass("active");
                if($(this).attr("deliverytype")=="2"){
                    $("#choiceAddr").show();
                    $("#divshopbranchInfo").addClass("hide");
                    $("#divDeliveFee").show();
                    var alltotal = parseFloat($("#allTotal").attr("data-alltotal"));
                    var delivefee = parseFloat($("#divDeliveFee").attr("data-fee"));
                    alltotal+=delivefee;
                    $("#allTotal").attr("data-alltotal",(alltotal).toFixed(2));
                    $("#allTotal").html("¥"+(alltotal).toFixed(2));
                }else{
                    $("#choiceAddr").hide();
                    $("#divshopbranchInfo").removeClass("hide");
                    $("#divDeliveFee").hide();
                    var delivefee = parseFloat($("#divDeliveFee").attr("data-fee"));
                    var alltotal = parseFloat($("#allTotal").attr("data-alltotal"));
                    $("#allTotal").attr("data-alltotal",(alltotal-delivefee).toFixed(2))
                    $("#allTotal").html("¥"+(alltotal-delivefee).toFixed(2));
                }
            })
        })

        $('input[name=$".DeliveryType"].express').change(function () {
            if (this.checked == false)
                return;

            var goodsInfo = $(this).closest('.goods-info');
            var shopId = goodsInfo.attr('shopid');
            var div = goodsInfo.find('.choseshopbranch');
            div.addClass('hide');

            var priceElement = goodsInfo.find('.item .price');
            var oldPrice = parseFloat(priceElement.data('oldprice'));
            priceElement.html('￥' + oldPrice.toFixed(2)).data('price', oldPrice);

            //运费
            var strFreight = "免运费";
            if (parseFloat(priceElement.data('freight')) > 0)
                strFreight = priceElement.data('freight') + "元";
            goodsInfo.find(".showfreight").html(strFreight);
            $('.goods-info#{0} .price'.format(shopId)).removeAttr('selftake');

            CalcPrice();
        }).each(function () { this.checked = true; });

        $('input[name=$".DeliveryType"].selftake').change(function () {
            if (this.checked == false)
                return;

            var div = $(this).closest('.goods-info').find('.choseshopbranch');
            if ($('#shippingAddressId').val() == '') {
                $.dialog.errorTips('请先设置收货地址');
                $(this).parent().parent().find('input[name$=".DeliveryType"].express').get(0).checked = true;
                return;
            }
            div.removeClass('hide');

            var $this = $(this);
            if ($this.attr('sbid')) {
                var shopId = $this.closest('.goods-info').attr('shopid');
                freeFreight(shopId);
                $('.goods-info#{0} .price'.format(shopId)).attr('selftake', '');
            }
        });

        var tagCacheKey = 'tagCacheKey';//标记，用于标记是否是从地址选择页或门店选择页返回到当前页的
        var sbCacheKey = 'ChoseShopBranch.Value';
        var saCacheKey = 'ChoseShippingAddress.Value';
        var $shippingAddressId = $('#shippingAddressId');
        var shippingAddressId = $shippingAddressId.val();
        var $shippingAddressRegionId = $('#shippingAddressRegionId');
        var shippingAddressRegionId = $shippingAddressRegionId.val();

        var cacheValue = window.getFromLocalStorate(tagCacheKey);
        //如果标记值为空，表示是从商品等其它页面过来的
        if (cacheValue) {
            cacheValue = window.getFromLocalStorate(saCacheKey);
            if ($.notNullOrEmpty(cacheValue)) {
                if (cacheValue.isClear) {
                    $("#latAndLng").val("0,0");
                    shippingAddressId = '';
                    shippingAddressRegionId = '';
                    $shippingAddressId.val('');
                    $shippingAddressRegionId.val('');
                    $('#choiceAddr').html('<p>请选择收货地址<spa style="color:red">您没有收货地址或已有地址不在服务服务内</spa></p>');
                    return;
                }
                $('#choiceAddr').html(('<p>{0}, {1}</p><span>{2} &nbsp; &nbsp;{3}&nbsp;</span>'+
                '<i class="glyphicon glyphicon-menu-right"></i>')
					.format(cacheValue.shipTo, cacheValue.phone, cacheValue.regionFullName, cacheValue.address));

                $("#latAndLng").val(cacheValue.latAndLng);
                $shippingAddressId.val(cacheValue.id);
                shippingAddressId = cacheValue.id;
                $shippingAddressRegionId.val(cacheValue.regionId);
                shippingAddressRegionId = cacheValue.regionId;

                refreshFreight(cacheValue.regionId);//刷新运费

                $('input[name=$".DeliveryType"].selftake').each(function () {
                    var $this = $(this);
                    var sid = $this.attr('sid');
                    var pids = $this.attr('pids').split(',');
                    $.ajax({
                        url: existShopBranchUrl + '?shopId={0}&regionId={1}&productIds={2}'.format(sid, cacheValue.regionId, pids.join('&productIds=')),
                        context: { element: $this },
                        success: function (result) {
                            if (result == true) {
                                this.element.removeAttr('disabled');
                            } else if (result == false) {
                                this.element.attr('disabled', '');
                            }
                        }
                    });
                });
            }

            cacheValue = window.getFromLocalStorate(sbCacheKey);
            if ($.notNullOrEmpty(cacheValue) && $.notNullOrEmpty(shippingAddressRegionId)) {
                for (var shopId in cacheValue) {
                    var temp = cacheValue[shopId];
                    if (temp.regionId != shippingAddressRegionId) {
                        cacheValue = null;
                        break;
                    }

                    var radio = $('input[name="shop{0}.DeliveryType"].selftake'.format(shopId));
                    if (radio.length > 0) {
                        radio.get(0).checked = true;
                        radio.attr('sbid', temp.sbId);
                        var goodsInfo = $(radio).closest('.goods-info');
                        goodsInfo.find('.choseshopbranch').removeClass('hide').find('.content').html(temp.sbName);
                        radio.change();
                    }
                }

                CalcPrice();
            }
        } else {
            window.localStorage.removeItem(saCacheKey);
            window.localStorage.removeItem(sbCacheKey);
        }
        window.localStorage.removeItem(tagCacheKey);

        $('#choiceAddr').click(function () {
            setTag();
            window.localStorage.removeItem(sbCacheKey);
            setReferrer();//写入当前地址
            setLeaveMmessage();//写入留言信息
            location.href = "ChooseShippingAddress?returnURL=" + encodeURIComponent(location.href);
        });

        $('a.choseshopbranch').click(function () {
            setTag();
            setReferrer();//写入当前地址
            setLeaveMmessage();//写入留言信息
            //$(this).attr('href',$(this).attr('bak-href')+'&shippingAddressId='+shippingAddressId+'&regionId='+shippingAddressRegionId);
        });

        function setTag() {
            window.saveToLocalStorage(tagCacheKey, {});
        }

        @if (ViewBag.ConfirmModel.integralPerMoney != null)
         {
             <text>
        $('.bootstrapSwitch2').on({
            'switchChange.bootstrapSwitch': function(event, state) {
                isintegral = state;
                //alltotal = $("#allTotal").attr('data-alltotal');
                //if (isintegral) {
                //    $("#allTotal").html('¥' + (alltotal - $("#integralPerMoney").val()).toFixed(2));
                //    $('#allTotal').attr('data-alltotal', (alltotal - $("#integralPerMoney").val()).toFixed(2));
                //}
                //else {
                //    $("#allTotal").html('¥' + alltotal);
                //    $("#allTotal").attr("data-alltotal",alltotal);
                //}
                if($(".bootstrapSwitch1").bootstrapSwitch("state")){
                    isResetUseCapital=true;
                }
                CalcPrice();//切换积分兑换后要重新计算价格
            }
        });
        $(".bootstrapSwitch2").bootstrapSwitch({});
        </text>
         }
        @if(ViewBag.ConfirmModel.capitalAmount > 0)
        {
            <text>
        $('.bootstrapSwitch1').on({
            'switchChange.bootstrapSwitch': function(event, state) {
                iscapital = state;
                if(iscapital){
                    if(hasVerifiedPayPwd){
                        pwd=$("#PayCapitalPwd").val();
                        CanPayCapital(pwd);
                        return;
                    }
                    var cover = InitCover();
                    $.ajax({
                        type: 'post',
                        url: '/' + areaName + '/Payment/GetPayPwd',
                        dataType: 'json',
                        data: {},
                        success: function (d) {
                            if (d.success) {
                                if ($('#payCapitalPwd').length < 1) {
                                    var htmlPayPwd = "";
                                    htmlPayPwd += '<div class="box1 lh24 steponeee" id="payCapitalPwd" style="display:none">';
                                    htmlPayPwd += '<span class="close" aria-hidden="true"></span><form>';
                                    htmlPayPwd += '<h3 class="title_txt cur">支付密码</h3>';
                                    htmlPayPwd += '<div class="item"><div>';
                                    htmlPayPwd += '<input type="password" placeholder="请输入支付密码" value="" id="inputCapitalPwd"  maxlength="20" class="form-control itxt fl">';
                                    htmlPayPwd += '</div></div><div class="item"> <div><a id="submitCapitalPay" class="btn btn-primary">确认</a></div></div></form></div>';
                                    $("body").append(htmlPayPwd);
                                }
                                cover.fadeIn();
                                $('#payCapitalPwd').show().find("#inputCapitalPwd").focus();
                            }
                            else {
                                if ($('#capitalstepone').length < 1) {
                                    var htmlSetPad = "";
                                    htmlSetPad += '<div class="box1 lh24 steponeee" id="capitalstepone" style="display:none">';
                                    htmlSetPad += '<span class="close" aria-hidden="true"></span><form>';
                                    htmlSetPad += '<h3 class="title_txt cur">请设置支付密码</h3>';
                                    htmlSetPad += '<div class="item"><div class="fl">';
                                    htmlSetPad += '<input type="password" placeholder="请输入支付密码" value="" id="firstCapitalPwd"  maxlength="20" class="form-control itxt fl">';
                                    htmlSetPad += '</div></div><div class="item"> <div class="fl">';
                                    htmlSetPad += '<input type="password" placeholder="请再次输入支付密码" value="" id="secondCapitalPwd"  maxlength="20" class="form-control itxt fl">';
                                    htmlSetPad += '</div></div><div class="item"> <div class="fl"><a id="submitCapitalPwd" class="btn btn-primary">提交</a></div></div></form></div>';
                                    $("body").append(htmlSetPad);
                                }
                                cover.fadeIn();
                                $('#capitalstepone').show().find("#firstCapitalPwd").focus();
                            }
                        }
                    });
                }else{
                    $("#capitalContainer").hide();
                    CalcPrice();//切换预付款支付后要重新计算价格
                }
            }
        });
        $(".bootstrapSwitch1").bootstrapSwitch({ });
        $("body").on("click","#submitCapitalPay",function(){
            var pwd = "";
            pwd=$("#inputCapitalPwd").val();
            if (pwd.length == 0) {
                $.dialog.alert("请输入支付密码");
                return false;
            }
            $.post('/' + areaName + '/Payment/ValidPayPwd', { pwd: pwd }, function (result) {
                if (result.success) {
                    CanPayCapital(pwd);
                    hasVerifiedPayPwd=true;
                }
                else {
                    hasVerifiedPayPwd=false;
                    $.dialog.errorTips(result.msg);
                    return false;
                }
            });
        }).on("click","#submitCapitalPwd",function(){
            var firstInput = $("#firstCapitalPwd");
            var secondInput = $("#secondCapitalPwd");
            var firstp = firstInput.val();
            var secondp = secondInput.val();
            if(!firstp || !secondp){
                $.dialog.alert('密码不能为空！');
                return false;
            }
            if (firstp.length < 6 || secondp.length < 6) {
                $.dialog.alert('密码长度不能少于6位');
                return false;
            }
            if(firstp != secondp){
                $.dialog.alert('两次密码不一致！');
                return false;
            }
            $.ajax({
                type: 'post',
                url: '/' + areaName + '/Payment/SetPayPwd',
                data: { "pwd": firstp },
                dataType: "json",
                success: function (data) {
                    var cover = InitCover();
                    cover.fadeOut();
                    if (data.success) {
                        $.dialog.succeedTips('设置成功！');
                        $('#capitalstepone').remove();
                        $("#capitalContainer").show();
                        $("#capital").focus();
                        CalcPrice();//切换预付款支付后要重新计算价格
                    }else{
                        $.dialog.errorTips('设置失败请重试');
                        $('#capitalstepone').remove();
                        $('.bootstrapSwitch1').click();
                    }
                }
            });
        }).on("click","#capitalstepone .close,#payCapitalPwd .close",function(){
            $(this).parent().hide();
            var cover = InitCover();
            cover.fadeOut();
            $('#capitalstepone').remove();
            $('#payCapitalPwd').remove();
            $('.bootstrapSwitch1').click();
        });

        function CanPayCapital(pwd){
            $("#PayCapitalPwd").val(pwd);
            var cover = InitCover();
            cover.fadeOut();
            $('#payCapitalPwd').remove();
            $("#capitalContainer").show();
            $("#capital").focus();
            CalcPrice();//切换预付款支付后要重新计算价格
        }
        </text>
        }

        $(".bill-Cart .content-bill .bill-check").eq(0).addClass("active");
        //$("#choiceAddr").click(function () {
        //    location.href = "ChooseShippingAddress?returnURL=" + encodeURIComponent(location.href);
        //})

        //支付方式选择
        $(".way-detail>a").click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        });

        //发票选择
        $("#AllInvoice>div>div>span").click(function () {
            $("#AllInvoice>div>div>span").removeClass("active");
            $(this).addClass("active");
        });
        $(".content-bill>p").click(function () {
            $(".content-bill>p>span").removeClass("active");
            $("span", this).addClass("active");
        });

        //发票弹框动画
        $('.btnbill').click(function (e) {
            e.stopPropagation();
            $('.cover').show();
            $('.bill-Cart').show();
        });
        $(document).click(function (e) {
            if (!($(e.target).hasClass('bill-Cart') || $(e.target).parents('.bill-Cart').length > 0)) {
                //        		$('.cover').hide();
                $('.bill-Cart').hide();
            }

        });
        @*$(document).click(function (e) {
            if (!($(e.target).hasClass('bill-Cart') || $(e.target).parents('.bill-Cart').length > 0)) {
                //        		$('.cover').hide();
                $('.bill-Cart').hide();
            }
        });*@
        $('#bill-submit').click(function () {
            var s = $(".bill-Cart .top-bill .active ").parent().text();
            var code = "";
            if (s.indexOf("公司") > -1) {
                s = $(".bill-Cart .top-bill .active ").parents().find("#invoicename").val();
                if ($.trim(s) == "") {
                    $.dialog.errorTips('公司名必填！');
                    return;
                }
                code = $(".bill-Cart .top-bill .active ").parents().find("#invoicecode").val();
                if ($.trim(code) == "") {
                    $.dialog.errorTips('税号必填！');
                    return;
                }
            }
            $(".bill a").html(s);
            $(".bill #invoicecode").text(code);
            $('.cover').hide();
            $('.bill-Cart').hide();
            setBill(s, code, $(".bill-Cart .content-bill .active").parent().index());//将结果写入
        });

        var orderTag = '@ViewBag.OrderTag';
        $.ajax({
            url: '@Url.Action("IsSubmited", "BranchOrder", new { area = "mobile" })?orderTag=' + orderTag,
            cache: false,
            success: function (result) {
                if (result == true)
                    window.history.go(-1);//提交的订单不能退回
            }
        });
        initLeaveMsgAndBill();

        $("#capital").bind("change", function () {
            CalcPrice();
        });
    })
    function setReferrer() {
        window.sessionStorage.setItem("refer", window.location.href);
    }
    function setLeaveMmessage() {
        var remarkList = [];
        $('.goods-info[shopid]').each(function () {
            var shopId = $(this).attr('shopid');
            remarkList.push($('.orderRemarks#remark_' + shopId).val());
        });
        window.sessionStorage.setItem("remarkList", remarkList.join(','));
    }
    function setBill(invoiceTitle, invoiceCode, contentIndex) {
        window.sessionStorage.setItem("invoiceTitle", invoiceTitle);
        window.sessionStorage.setItem("invoiceCode", invoiceCode);
        window.sessionStorage.setItem("invoiceContext", contentIndex);
    }
    function initLeaveMsgAndBill() {
        var remarkList = window.sessionStorage.getItem("remarkList");
        var invoiceTitle = window.sessionStorage.getItem("invoiceTitle");
        var invoiceCode = window.sessionStorage.getItem("invoiceCode");
        var invoiceContext = window.sessionStorage.getItem("invoiceContext");
        if (remarkList != null && remarkList.length > 0) {
            var remark = remarkList.split(',');
            $('.goods-info[shopid]').each(function (i) {
                var shopId = $(this).attr('shopid');
                $('.orderRemarks#remark_' + shopId).val(remark[i]);
            });
            window.sessionStorage.removeItem("remarkList");
        }
        if (invoiceTitle != null && invoiceTitle != '') {
            $(".bill a").text(invoiceTitle);
            $(".bill #invoicecode").text(invoiceCode);
            $(".bill-Cart .content-bill .bill-check").removeClass("active").eq(invoiceContext - 1).addClass("active");
            window.sessionStorage.removeItem("invoiceTitle");
            window.sessionStorage.removeItem("invoiceCode");
            window.sessionStorage.removeItem("invoiceContext");
        }
    }
</script>
